* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: "Lato";
    -webkit-font-smoothing: antialiased;
    color: #444444;
    background-color: rgb(230, 228, 228);
    overflow-x: hidden;
  }

  html {
    height: auto;
    min-height: 100%;
    text-size-adjust: 100%;
    min-width: 375px;
  }
  
